@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


*{
    font-family: 'Caveat', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

#main{
    display: flex;
}

.nav-bar{
    border: black solid 1px;
    max-width: 16%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    position: fixed;
    z-index: 9997;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    
}

.nav-bar img{
    width: 100%;
}

.nav-bar ul{
    margin: 20px auto 0 20px;
    list-style-type: none;
}

.nav-bar li{
    margin: 40px 0 20px 0;
    width: 100%;
    font-weight: bold;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.nav-bar i{
    margin: 5px;
}

.social-links{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}
.social-links i{
    font-size: large;
}

.background-cover{
    
    background-color: rgb(22, 20, 29);
    width: 44%;
    color: aliceblue;
    font-size: 30px;
}

.background-cover div{

    margin: 50% 0 0 20%;
    
}

.main-cover{
    width: 40%;
    height: 100vh;
    background-size: 100%;

}


#about{
    display: flex;
}

.item1 { grid-area: header; }
.item2 { grid-area: main;   }
.item3 { grid-area: education;  }
.item4 { grid-area: contact;  }
.item5 { grid-area: picture;  }

.grid-container{
    padding: 100px 50px;
    background-color: rgb(22, 20, 29);
    width: 84%;
    height: 100vh;
    color: aliceblue;
    display: grid;
    grid-template-areas:
    'header header header picture picture picture'
    'main main main picture picture picture'
    'education education education education education education'
    'contact contact contact contact contact contact';

}

.item5{
    background-image: url(../images/RoundPicture.png);
    background-size: 80%;
    background-repeat: no-repeat;
    text-align: center;
}

.item1 h1 , .item1 h3{
    padding: 10px;
}
.item3{
    display: flex;
}

.item3 p{
margin: 10px 30px 20px 0;
font-size: 20px;
}

.item3 span{
    margin: 10px 30px 20px 0;
    font-size: 15px;
    }

.item4{

}

.fake{
    width: 16%;
}

.grid-container img{
    width: 10%;
}





#skills{
    display: flex;
}

#skills .background2{
    width: 84%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.skills{
    background-color: rgb(17, 17, 26);
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Qualification{
    background-color: rgb(33, 38, 43);
    min-height: 50%;
    width: 100%;
}

.skills ul{
    width: 33%;
}

.skills li{
    list-style-type: none;
    color: white;
    margin: 40px 10px;
    padding: 3%;
    
}

.background2 p{
    height: auto;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: xx-large;
    background-color: rgb(26, 26, 32); 
    margin: 0;
}


.Qualification{
    display: flex;
    justify-content: space-around;

}

.Qualification div{
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    width: 25%;
}

.Qualification .text{
    margin: 0 20px;
    width: auto;
    height: 30%;
    font-size: larger;

}
.Qualification img{
    margin: 10px auto;
    width: 100%;
    height: 60%;
}


.skills {
    display: flex;
}

.header{
    left: -300px;
    width: 0;
    height: 0;
}


@media screen and (max-width: 1000px) {
    .nav-bar{
        left: -300px;
    }

    .header{
        position: fixed;
        background-color: aliceblue;
        width: 100vw;
        height: 10%;
        left: 0;
        transition: all ease-in-out 0.5s;
        transition: all 0.5s;
        z-index: 9997;

    }

    .header ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .header li{
        margin: 10px;
        text-decoration: none;
        color: black;
        margin: 20px;
    }

    .fake{
        width: 0%;
    }

    .main-cover{
        width: 60%;
    }

    .background-cover{
        width: 40%;
    }


}


@media screen and (max-width: 424px) {

    #main{
        width: 120vw;
        position: relative;
        border: red solid 1px;
        
    }
    .background-cover{
        width: 100%;
    }
    .main-cover{
        width: 0;
    }

}
