@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

#main{
    display: flex;
}

.nav-bar{
    border: black solid 1px;
    max-width: 16%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    position: fixed;
    z-index: 9997;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    
}

.nav-bar img{
    width: 100%;
}

.nav-bar ul{
    margin: 20px auto 0 20px;
    list-style-type: none;
}

.nav-bar li{
    margin: 40px 0 20px 0;
    width: 100%;
    font-weight: bold;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.nav-bar i{
    margin: 5px;
}

.social-links{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}
.social-links i{
    font-size: large;
}

.background-cover h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.background-cover{
    
    background-color: rgb(22, 20, 29);
    width: 44%;
    color: aliceblue;
    font-size: 30px;
}

.background-cover div{

    margin: 50% 0 0 20%;
    
}

.main-cover{
    width: 40%;
    height: 100vh;
    background-size: 100%;

}


#about{
    display: flex;
}

.item1 { grid-area: header; }
.item2 { grid-area: main;   }
.item4 { grid-area: contact;  }
.item5 { grid-area: picture;  }

.grid-container{
    padding: 100px 50px;
    background-color: rgb(22, 20, 29);
    width: 84%;
    height: 100vh;
    color: aliceblue;
    display: grid;
    grid-template-areas:
    'header header header picture picture picture'
    'main main main picture picture picture'
    'contact contact contact contact contact contact';

}

.item5{
    background-image: url(../images/RoundPicture.png);
    background-size: 80%;
    background-repeat: no-repeat;
    text-align: center;
}

.item1 h1 , .item1 h3{
    padding: 10px;
}
.item3{
    display: flex;
}

.item3 p{
margin: 10px 30px 20px 0;
font-size: 20px;
}

.item3 span{
    margin: 10px 30px 20px 0;
    font-size: 15px;
    }



.fake{
    width: 16%;
}

.grid-container img{
    width: 10%;
}


#skills{
    display: flex;
}

.skill{
    width: 84%;
}

.skill h1{
    text-align: center;
    background-color: rgb(16, 15, 22);
    color: white;
    margin: 0;
    border: 1px black solid;
}

.skill .list{
    display: flex;
}

.header{
    top: -300px;
    width: 0;
    height: 0;
}

.soft-skill{
    width: 50%;
    background-color: white;
    box-shadow:0 5px 25px rgba(1 1 1 / 15%);
    border-radius:10px ;
    transition: 0.7s ease;
    
}

.soft-skill div{
    text-align: center;
    margin: 20px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow:0 5px 25px rgba(1 1 1 / 15%);
    border-radius:10px;
    transition: 0.7s ease;
}

.soft-skill div:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.soft-skill:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.soft-skill h2{
    text-align: center;
    margin: 10px;
}

.tech-skill{
    width: 50%;
    background-color: white;
}

.tech-skill div{
    text-align: center;
    margin: 20px;
    border: 1px black solid;
    border-radius:10px;
    transition: 0.7s ease;
    box-shadow:0 5px 25px rgba(1 1 1 / 15%);
    border-radius:10px ;
}

.tech-skill{
    transition: 0.7s ease;
    box-shadow:0 5px 25px rgba(1 1 1 / 15%);
    border-radius:10px ;
}

.tech-skill div:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.tech-skill:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.tech-skill h2{
    text-align: center;
    margin: 10px;
}


.language{
    width: 84%;
    background-color: rgb(31, 30, 37);
}


.fix{
    display: flex;
}


.sizeing{
    width: 100%;
    height: 50%;
    margin: 10% auto;
    padding: 10%;
    background-color: white;
    border-radius: 10px;
    
}



.language h2{
    border: 1px white solid;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(31, 30, 37);
    color: white;

}

#education{
    display: flex;
}


.cards{
    
    width: 84%;
}
.cards h2{
    
    text-align: center;
    color: rgb(46, 42, 61);
    grid-area: head;
    border: rgb(27, 24, 39) 2px solid;
    
}



.cards{
    
    padding: 10% 20%;
    display: grid;
    grid-template-areas:
    'head head head head head head'
    'brief brief brief brief brief brief'
    'tech tech tech soft soft soft';
}

.brief{grid-area: brief;
margin: 10px;
border: rgb(9, 8, 12) 2px solid;
}
.soft-courses{grid-area: soft;
    margin: 10px;
    border: rgb(26, 24, 34) 2px solid;
}
.tech-courses{grid-area: tech;
    margin: 10px;
    border: rgb(25, 22, 34) 2px solid;
}

.brief span{
    background-color: rgba(128, 128, 128, 0.158);
}

#footer{
    display: flex;
}

.nav-container{
    width: 84%;
}


#footer .nav{
    width: 100%;
    display: inline-block;
    height: 30vh;
    background-image: linear-gradient(rgba(75, 61, 71, 0.7),rgba(17, 42, 139, 0.7)), url(../images/background3.jpg);
   
}

#footer span{
    color: rgba(134, 155, 17, 0.616);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.nav h1{
    text-align: center;
    margin-top: 50px;
}

.nav ul{
    width: 50%;
    margin-top: 3%;
    margin: auto;
    margin-left: 30%  ;
    
}
.nav li{
    display: inline;
    text-align: center;
    margin: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    
    
}

#footer .social-links{
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.89);
    color: white;
}







@media screen and (max-width: 1000px) {
    .nav-bar{
        left: -300px;
    }

    
    .header{
        position: fixed;
        background-color: aliceblue;
        width: 100%;
        height: 10%;
        top: 0;
        transition: all ease-in-out 0.5s;
        transition: all 0.5s;
        z-index: 9997;

    }

    .header ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .header li{
        text-decoration: none;
        color: black;
        margin: auto;
    }

    .fake{
        width: 0%;
    }

    .main-cover{
        width: 0%;
    }

    .background-cover div{
       margin: 300px 100px;
    }

    .background-cover{
        width: 100%;

    }

  .grid-container{
      width: 100%;
  }

  .skill{
      width: 100%;
  }

  .language{
      width: 100%;
  }

  .cards{
      width: 100%;
  }

  .nav-container{
      width: 100%;
  }

  

  .nav-container li{
    display: none;
  }



}


@media screen and (max-width: 425px) {


    .background-cover{
        width: 100%;
    }
    .main-cover{
        width: 0;
    }

    #about{
        width: 100%;
    }

    .skill{
        width: 100%;
    }

    .header li{
        box-sizing: content-box;
    }
}


@media screen and (max-width: 375px) {
.header{
   
    
}

.header li{
    margin: 0;
    
}

.header ul{
    margin: 0;
   
}

.background-cover{
    width: 120vw;
}

.grid-container{
    width: 200vw;
}

.skill{
    width: 120vw;
}


.fake{
    width: 0%;
}
}