@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


*{
    font-family: 'Caveat', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    display: flex;
}

.card{
    border: 1px black solid;
    margin: 100px 30px 30px;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    text-align: center;

}

.card img{
    width: 20%;
}

.quotation{
    text-align: center;
    font-size: 15px;
}

.avatar-info{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    margin-top: 70px;
}

.avatar-info div{
    font-size: small;
    display: flex;
    flex-direction: column;
}

#footer{
    display: flex;
}

.nav-container{
    width: 100%;
}


#footer .nav{
    width: 100%;
    display: inline-block;
    height: 30vh;
    background-image: linear-gradient(rgba(75, 61, 71, 0.7),rgba(17, 42, 139, 0.7)), url(../images/background3.jpg);
   
}

#footer span{
    color: rgba(134, 155, 17, 0.616);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.nav h1{
    text-align: center;
    margin-top: 50px;
}

.nav ul{
    width: 50%;
    margin-top: 3%;
    margin: auto;
    margin-left: 30%  ;
    
}
.nav li{
    display: inline;
    text-align: center;
    margin: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    
    
}

#footer .social-links{
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.89);
    color: white;
}
