@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    display: flex;
}

.nav-bar{
    border: black solid 1px;
    max-width: 16%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    z-index: 9997;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    
}

.nav-bar img{
    width: 100%;
}

.nav-bar ul{
    margin: 20px auto 0 20px;
    list-style-type: none;
}

.nav-bar li{
    margin: 40px 0 20px 0;
    width: 100%;
    font-weight: bold;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.nav-bar i{
    margin: 5px;
}

.social-links{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}
.social-links i{
    font-size: large;
}


.experience{
    width: 30%;
}


.experience div{
    margin: 80px 50px 0px;
   
}

.experience .text{
    border-radius: 10px;
    border: black solid 1px;
    margin-top: 0;
    margin-left: 0;
    
}

.experience span{
    font-size: medium;
    background-color: rgba(128, 128, 128, 0.486);
}

.experience h1{
    margin: 10px;
}


.project{
    background-color: rgb(17, 17, 31);
    width: 54%;
}

.project h1{
    margin: 10px;
    color: white;
}

.order{
    display: flex;
    flex-wrap: wrap;
    
}

.Image-header{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.card{
    background-color: white;
    width: 40%;
    margin: 7% 5% 9%;
    border-radius: 20px;
    

}

.card img{
    width: 30%;
}

.card p{
    padding: 5%;
}


#footer{
    display: flex;
}

.nav-container{
    margin-top: 20px;
    width: 100%;
}


#footer .nav{
    width: 100%;
    display: inline-block;
    height: 30vh;
    background-image: linear-gradient(rgba(75, 61, 71, 0.7),rgba(17, 42, 139, 0.7)), url(../images/background3.jpg);
   
}

#footer span{
    color: rgba(134, 155, 17, 0.616);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.nav h1{
    text-align: center;
    margin-top: 50px;
}

.nav ul{
    width: 50%;
    margin-top: 3%;
    margin: auto;
    margin-left: 30%  ;
    
}
.nav li{
    display: inline;
    text-align: center;
    margin: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    
    
}

#footer .social-links{
    width: 100%;
    height: 15vh;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.89);
    color: white;
}




@media screen and (max-width: 1000px) {
    .nav-bar{
        display: none;
    }

    .experience{
        width: 50%;
    }

    .project{
        width: 50%;
    }
}


@media screen and (max-width: 768px) {

    section{
        flex-direction: column;
    }

    .experience{
        margin: auto;
        width: 100%;
        
    }

    .experience div{
        width: 50%;
        margin: auto;
        border: red 1px solid;
        margin: 20px auto;
    }

    .experience .text{
        width: 100%;
    }

    .project{
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .experience{
        margin: auto;
        width: 100%;
        border: red 1px solid;
        
    }

    .experience div{
        width: 100%;
        margin: auto;
        border: red 1px solid;
        margin: 20px auto;
    }
}